<div class="container">
    <div class="col-md-12 col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" colspan="5">
                        AGREGAR TAREA
                    </th>
                </tr>
                <tr><form action="/task/add" method="POST">
                <th scope="col"><input type="text" class="form-control" name="name_task" placeholder="Título" autofocus required></th>
                <th scope="col"><button class="btn btn-primary btn-block">Guardar</button></th>
                </form></tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12 col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" colspan="7">
                        TAREA PENDIENTES
                    </th>
                </tr>
                <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Finalizar tarea</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each task}}
                <tr>
                <td>{{name_task}}</td>
                <td>{{timeago date_public}}</td>
                <td><a href="/task/realizado/{{idtask}}" class="btn btn-success"><i class="check-circle"></i> Realizado</a></td>
                <td><a href="/task/edit/{{idtask}}" class="btn btn-secondary">Editar</a></td>
                <td><a href="/task/delete/{{idtask}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {{else}}
                    <tr>
                        <td class="text-center" colspan="7">
                            La lista está vacía.
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" colspan="7">
                        TAREA REALIZADAS
                    </th>
                </tr>
                <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de terminación</th>
                <th scope="col">Tiempo de trabajo</th>
                </tr>
            </thead>
            <tbody>
                {{#each hechos}}
                <tr>
                <td>{{name_task}}</td>
                <td>{{date_public}}</td>
                <td>{{date_final}}</td>
                <td>{{dias}} días, /{{horas}} horas /{{minutos}} minutos</td>
                </tr>
                {{else}}
                    <tr>
                        <td class="text-center" colspan="5">
                            La lista está vacía.
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
